---
---

@import 'variables.scss';

* {
	box-sizing: border-box;
}

body{
	margin: 0;
	font-family: 'Raleway', sans-serif;
}

section {
	width: 80%;
	margin: 3vh auto 15vh;
	max-width: 100vw;
}

.nonhoverable:hover {
	border: none !important;
}

.button {
	display: inline-block;
	text-align: center;
	padding: 10px 50px;
	margin: 30px 0;
	line-height: 30px;
	background: $orange;
	color: white;
	border-radius: 50px;
	border: 1px solid $orange;
	font-weight: bold;

	&:hover {
		background: white;
		color: $orange;
	}
}

/* 
Curve vectors should be placed as <img> tags
at the end of <section> tags. The parent <section>
should have relative positioning.
*/

.curve-vector {
	position: absolute;
	left: -25%; // dependent on section width being 80vw
	top: 80%;
	width: 150%; // dependent on section width being 80vw
}

@import 'text.css';

@import 'nav.css';
@import 'home.css';
@import 'team.css';

@media screen and (max-width: 900px) {
	
	* {
		box-sizing: border-box;
		max-width: 100vw;
		margin: 0;
		padding: 0;
	}

	.not-on-mobile {
		display: none;
	}

	section, div {
		width: 100%;
		padding: 20px;
		margin: 0;
		flex-direction: column;
	}

	.text-div {
		margin: 0 !important;
		width: 100% !important;
		padding: 5vh 20px !important;
	}
}