---
---

@import 'variables.scss';

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: 'Raleway', sans-serif;
	overflow-x: hidden;
}

main {
	padding-top: $nav-height;
}

section {
	width: 80vw;
	margin: 3vh auto 15vh;
	max-width: 100vw;
}

#page-not-found {
	min-height: 40vh;
	margin: 20vh;
	text-align: center;
}

.nonhoverable:hover {
	border-color: transparent !important;
}

.button {
	display: inline-block;
	text-align: center;
	padding: 2vh 3vw;
	margin: 2vh 0;
	line-height: 2vh;
	background: $orange;
	color: white;
	border-radius: 4vh;
	border: 2px solid $orange;
	font-weight: bold;

	&:hover {
		background: transparent;
		color: $orange;
	}
}

/* 
Curve vectors should be placed as <img> tags
at the end of <section> tags. The parent <section>
should have relative positioning.
*/

.curve-vector {
	pointer-events: none;
	position: absolute;
	left: -10vw;
	top: 80%;
	width: 120vw;
}

@import 'text.css';
@import 'nav.css';
@import 'home.css';
@import 'team.css';
@import 'schedule.css';
@import 'speakers.css';
@import 'workshops.css';

@media screen and (max-width: $breakpoint) {
	
	* {
		box-sizing: border-box;
		max-width: 100vw;
		padding: 0;
	}

	.not-on-mobile {
		display: none;
	}

	.full-width-on-mobile {
		padding: 30px !important;
		width: 100% !important;
		margin: 0 !important;
	}

	section, div {
		width: 100%;
		padding: 20px;
		margin: 0;
		flex-direction: column;
	}
}