---
---

* {
	box-sizing: border-box;
}

body{
	margin: 0;
	font-family: 'Raleway', sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
	padding-bottom: 3px;
	border-bottom: 2px solid transparent;
	cursor: pointer;

	&:hover {
		border-color: inherit;
	}
}

.nonhoverable:hover {
	border: none !important;
}

@import 'variables.scss';
@import 'nav.css';