---
---

/*
*******
None of these variable are being imported anywhere, they're just here for your convenience.
*******
*/

body{
	margin: 0;
}

// Some Style Variables
$primary-color: #36465f;
$secondary-color: #464646;
$error: #de3535;
$success: #d5f5d7;

$max-width: 960px;