---
---

@import 'variables.scss';

#home-banner {

	justify-content: center;
	align-items: center;

	#home-banner-text {
		vertical-align: middle;
		padding-right: 10%;

		> h3 {
			font-weight: bolder;
		}
	}
}

#home-what-is-ecaasu {

	justify-content: center;
	align-items: center;

	#home-what-is-ecaasu-text {
		vertical-align: middle;
		padding-left: 10%;

		> h3 {
			font-weight: bolder;
		}
	}
}

#home-conference-intro {
	background: $light-blue;
	position: relative;

	#home-conference-intro-text {
		width: 35%;
		margin: 10%;
	}

	#home-conference-intro-logo {
		position: absolute;
		bottom: 5%;
		left: 50%;
		width: 80%;
	}
}

@media screen and (max-width: 900px) {

	#home-banner {
		flex-direction: column;
	}

	#home-what-is-ecaasu {
		flex-direction: column-reverse;
	}
	
	#home-conference-intro {

		padding: 5vh 0;

		#home-conference-intro-text {
			width: 100%;
			margin: 0;
		}
	}
}

