---
---

@import 'variables.scss';

#home-banner {

	display: flex;
	justify-content: center;
	align-items: center;

	#home-banner-text {
		vertical-align: middle;
		padding-right: 10%;

		h2 {
			margin-left: -2px; // fix alignment because of first character kerning
		}

		h6 {
			margin-left: 1px;
		}
	}
}

#home-what-is-ecaasu {

	display: flex;
	justify-content: center;
	align-items: center;

	#home-what-is-ecaasu-text {
		vertical-align: middle;
		padding-left: 10%;

		> h3 {
			font-weight: bolder;
		}
	}
}

#home-conference-intro {

	display: flex;
	background: $light-blue;
	position: relative;

	#home-conference-intro-text {
		width: 35%;
		margin: 3vw 0 10vw 5vw;
	}

	#home-conference-intro-logo {
		position: absolute;
		bottom: 5%;
		left: 50%;
		width: 80%;
	}
}

#home-faq {
	width: 100vw;
	background: $light-blue;
	padding: 3vw 10vw;

	#home-faq-text {
		width: 60%;

		p {
			margin-bottom: 30px;
		}
	}
}

#home-sponsors {

	margin-bottom: 0;

	#home-sponsors-logos {
		
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;

		.sponsor {
			margin-bottom: 30px;

			> img {
				max-width: 300px;
			}
		}
	}
}

#home-call-to-action {

  	width: 100%;
  	margin: 0;
  	position: relative;
  	display: flex;
  	justify-content: flex-end;

	#home-call-to-action-logo {
		position: absolute;
		top: 30%;
		left: -10%;
		width: 75%;
	}

	#home-call-to-action-blob {
		width: 70%;
		align-self: flex-end;
	}

	#home-call-to-action-text {
		position: absolute;
		top: 20%;
		right: 10%;
		width: 30%;
	}
}

@media screen and (max-width: 900px) {

	#home-banner {
		flex-direction: column;
	}

	#home-what-is-ecaasu {
		flex-direction: column-reverse;
	}
	
	#home-conference-intro {

		padding: 5vh 0;

		#home-conference-intro-text {
			width: 100%;
			margin: 0;
		}
	}
}

