---
---

@import 'variables.scss';

#ideathon-header {

	padding: 5vh 0;
	position: relative;

	.button {
		margin: 45px 0;
	}
}

#ideathon-curve {
	top: 95%;
}

#ideathon-cases {

	#ideathon-case-info {
		padding: 0;

		.case-section {
			margin-bottom: 45px;

			h5 {
				margin-bottom: 15px;
				color: $dark-grey;
			}

			p {
				margin-top: 0;
				width: 60%;
			}

			a {
				color: $orange;
			}
		}
	}

	hr {
		width: 100%;
		background: $light-grey;
		border: none;
	}
}

#ideathon-faq {
	a {
		color: $gold;
		font-weight: 600;
	}
}


@media screen and (max-width: $breakpoint) {

	#ideathon-cases {
		#ideathon-case-info {
			.case-section {
				padding: 0;

				p {
					width: 100% !important;
				}
			}
		}
	}

}