---
---


#maps {
	padding: 3vw;

	> div {
		padding: 0;
	}

	.drawer {
		display: inline-block;
	}

	.map-image {
		max-width: 100%;
		box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.1);

		height: 0;
		overflow: hidden;

		&.open {
			height: auto;
		}
	}
}