---
---

@import 'variables.scss';

body.nav-open { // don't scroll when the mobile nav is open
	overflow: hidden;
}

header {
	width: 100%;
	padding: 2vw;
	display: flex;
	justify-content: space-between;
	position: fixed;
	top: 0;
	height: 100px;
	z-index: 999;
	background: rgba(255,255,255,0.7);

	@include transition(0.5s);

	&.nav-up {
		top: -100px;
	}

	.logo {

		border: none;

		> img {
			width: 75px;
		}
	}

	.nav-toggle {
		display: none;
		font-size: 35px;
		margin: 5px;
	}

	nav {
		justify-content: flex-end;
		align-items: stretch;
	}

	ul {
		padding: 0;
		margin: 0;

		li {
			display: inline-block;
			margin: 0 30px;

			.active {
				font-weight: bold;
			}
		}
	}
}

#mobile-nav-screen {
	// position
	position: fixed;
	top: 0;
	left: 0;
	overflow: hidden;
	width: 100vw;
	height: 0;
	z-index: 999;

	@include transition(0.5s);

	// style
	text-align: center;
	padding: 3vw;
	background: $gold;
	color: white;
	ul {
		font-size: 1.5em;
		padding: 0;
		list-style: none;
		li {
			margin: 5vh 0;
		}
	}

	// visibility
	display: none;

	&.visible {
		display: block;
		height: 100%;
	}
}

@media screen and (max-width: $breakpoint) {
	header {
		padding: 10px;
		ul {
			display: none;
		}

		.logo {
			padding: 3px;
		}
		
		.nav-toggle {
			display: flex;
			line-height: 100%;
		}
	}
}