---
---

@import 'variables.scss';

.speaker-list {

	.speaker {

		display: flex;
		margin: 15vh 2vw;
		justify-content: space-around;

		&:last-child {
			margin-bottom: 0;
		}

		.speaker-image {
			position: relative;
			flex: 2 1 0;

			.speaker-circle {
				width: 50%;
			}

			.speaker-photo {
				position: absolute;
				left: 15%;
				top: 0;
				width: 50%;
			}
		}

		.speaker-text {
			flex: 3 1 0;
		}

		&:nth-of-type(even) {

			flex-direction: row-reverse;

			.speaker-image {
				@include transform(scaleX(-1));
			}
		}
	}
}

@media screen and (max-width: $breakpoint) {

	.speaker-list {

		padding: 0;

		.speaker {
			flex-direction: column !important;
			padding: 0;
			margin: 0 0 10vh 0 !important;

			&:nth-of-type(even) .speaker-image {
				@include transform(scaleX(1), !important);
			}
		}
	}
}


