---
---

@import 'variables';

#team-member-list {

	h3 {
		margin-bottom: 50px;
	}

	#team-photo-grid {

		display: flex;
		flex-wrap: wrap;

		.member-card {
			text-align: center;
			flex: 1 0 21%;
			margin-bottom: 50px;

			img {
				width: 60%;
				border-radius: 50%;
			}
		}
	}
}

@media screen and (max-width: $breakpoint) {
	#team-member-list {
		#team-photo-grid {
			display: block;
			.member-card {
				display: block;
				max-width: 50%;
				margin: 30px auto;
				img {
					width: 100%;
				}
			}
		}
	}
}