---
---

@import 'variables.scss';

.tag {
	margin: 0;
	border-radius: 0.5vw;
	padding: 0.5vw 1vw;
	background: $gold;
	border: 1px solid $gold;
	color: white;
	display: inline-block;

	@include transition(0.3s);

	&.unselected {
		color: $gold;
		background: white;
	}

	&:hover {
		color: $gold;
		background: rgba($gold, 0.2);
	}
}

#workshops-header {

	margin-bottom: 5vh;

	h3 {
		margin: 0;
	}

	p {
		width: 60%;
	}

	a {
		color: $gold;
	}

	#workshops-search-filters {

		small {
			display: block;
			margin-bottom: 0;	
		}

		.filter-section {

			margin-right: 2vw;
		}

		a {
			align-self: center;
			margin-bottom: 0;
		}
	}
}

#workshop-block-descriptions {

	padding-top: 4vh;
	
	.block-description {

		display: flex;
		justify-content: space-between;

		.workshop-block-image {
			flex: 1 0 0;
			position: relative;

			img {
				margin: 0;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
		}

		.workshop-block-text {
			flex: 3 0 0;

			h2 {

				span {

					color: black;
					position: relative;
					
					&:after {
						content: '';
						position: absolute;
						left: 0px;
						bottom: 6px;
						width: 100%;
						height: 12px;
						background: $gold;
						opacity: 0.8;
						z-index: -1;
					}
				}
			}
		}
	}
}

#workshop-list {

	padding: 10vh 5vw;

	.workshop {

		margin: 5vh 0 25vh 0;
		position: relative;

		.circle {
			position: absolute;
			top: -20%;
			left: -10%;
			width: 20%;
			z-index: -1;
			opacity: 0.2;
		}

		.workshop-text {

			flex: 3 1 0;
			
			small {
				color: $dark-grey;
				display: block;
			}

			h5 {
				margin-top: 0.5vw;
			}

			p {
				margin-top: 0;

				&:last-of-type {
					color: $dark-grey;
				}
			}

			.workshop-track {
				margin: 3vh 0;
			}
		}
	}
}

@media screen and (max-width: $breakpoint) {

	.tag {
		padding: 4px 8px;
	}

	#workshop-list-main {
		#workshops-header {
			margin: 3vh 0;
			flex-direction: row;
			justify-content: space-between;
		}
		#workshops-search-filters {
			align-self: flex-end;
			justify-content: flex-end;
			padding: 0;
			text-align: right;
			.filter-section {
				justify-content: flex-end;
				padding: 0;
			}
		}
	}
}
