<div class="speaker-list">
	{% for speaker in site.data.speaker_list.speakers %}
		{% if include.featured_only == false or speaker.featured == true %}
			<div class="speaker">
				<div class="speaker-image">
					<img class="speaker-circle" src="img/speaker_circle.svg" />
					<img class="speaker-photo" src="img/{{ speaker.name }}.png" />
				</div>
				<div class="speaker-text">
					<h1>{{ speaker.name }}</h1>
					<p>{{ speaker.intro }}</p>
				</div>
			</div>
		{% endif %}
	{% endfor %}
</div>
