<ul id="nav-links">

	<li>
		<a class="home-link" href="{{ site.baseurl }}">
			Home
		</a>
	</li>

	<li>
		<a class="home-section-link" href="{{ site.baseurl }}#home-what-is-ecaasu">
			About
		</a>
	</li>
	<li>
		<a class="home-section-link" href="{{ site.baseurl }}#home-logistics">
			Venue
		</a>
	</li>
	<li>
		<a class="home-section-link" href="{{ site.baseurl }}#home-faq">
			FAQ
		</a>
	</li>


	<li class="nav-dropdown">
		<a class="{% if 'Schedule' == page.title or 'Speakers' == page.title or 'Workshops == page.title %}active{% endif %}">
			Program
		</a>

		<ul>
			<li>
				<a class="{% if 'Speakers' == page.title %}active{% endif %}" href="{{ site.baseurl }}speakers.html">
					Speakers
				</a>
			</li>
			<li>
				<a class="{% if 'Schedule' == page.title %}active{% endif %}" href="{{ site.baseurl }}schedule.html">
					Schedule
				</a>
			</li>
			<li>
				<a class="{% if 'Ideathon' == page.title %}active{% endif %}" href="{{ site.baseurl }}ideathon.html">
					Ideathon
				</a>
			</li>
			<li>
				<a class="{% if 'Workshops' == page.title %}active{% endif %}" href="{{ site.baseurl }}workshops.html">
					Workshops
				</a>
			</li>
			
		</ul>
	</li>
	
	<li>
		<a class="{% if 'Team' == page.title %}active{% endif %}" href="{{ site.baseurl }}team.html">
			Team
		</a>
	</li>

	<li>
		<a href="{{ site.register_link }}" target="_blank">
			Register
		</a>
	</li>
</ul>
