<ul id="nav-links">
	<li>
		<a class="home-section-link" href="{{ site.baseurl }}index.html#home-what-is-ecaasu">
			About
		</a>
	</li>
	<li>
		<a class="home-section-link" href="{{ site.baseurl }}index.html#home-logistics">
			Logistics
		</a>
	</li>
	<li>
		<a class="home-section-link" href="{{ site.baseurl }}index.html#home-faq">
			FAQ
		</a>
	</li>
	{% for p in site.pages %}
		{% if p.title and p.title != "Home" %}
			<li>
				<a class="{% if p.title == page.title %}active{% endif %}" href="{{ site.baseurl }}{{ p.url }}">
					{{ p.title }}
				</a>
			</li>
		{% endif %}
	{% endfor %}

	<li>
		<a class="home-section-link" href="{{ site.register_link }}" target="_blank">
			Register
		</a>
	</li>
</ul>