<section id="ideathon-cases">
	<h3>Ideathon Cases</h3>
	<div id="ideathon-cases">
		{% for case in site.data.ideathon_cases.cases %}
			<div class="case-section">
				<h5>
					{{ case.name }}
				</h5>
				<p>
					{{ case.description }}
				</p>
				<a href="{{ case.link }}" target="_blank">
					Go to case
				</a>
			</div>
		{% endfor %}
		<hr />
		<ul>
			<li>
				<a href="https://ask.fm/ecaasusii" target="_blank">Live Q&A</a>	
			</li>
			<li>
				<a href="http://bit.ly/SIIsubmission " target="_blank">Submit Proposal Here</a>	
			</li>
		</ul>
	</div>
</section>
