<section id="hackathon-banner" class="full-width-on-mobile">
	<h2>ECAASU Social Innovation Ideathon</h2>
	<p>
		In the 2020 ECAASU Conference, we will be having ECAASU’s first ever Social Innovation Ideathon! The Social Innovation Ideathon is an opportunity for participants to develop sustainable and feasible ideas to improve society by connecting teams of conference attendees with various prompts and social issues to work on relevant issues.
	</p>

	<p>
		The prompts will point out an existing predicament in our society and will be given in three categories: Civic Engagement, Deportation, and Media Representation. The winning team(s) will win prizes, as well as get a chance to propose their solutions to sponsors.
	</p>

	<a class="button" href="https://docs.google.com/forms/d/1MOoMi2qrIOxZikeKdeuD-xHvmHv20__39OApIifmNCc/edit" target="_blank">Register for the Ideathon</a>

	<h5>Come back on conference day for more information! :)</h5>
</section>