$gold: #FFB800;
$orange: #FF6000;
$light-blue: #EEF5F6;

@mixin transition($transition...) {
    -moz-transition:    $transition;
    -o-transition:      $transition;
    -webkit-transition: $transition;
    transition:         $transition;
}