$gold: #FFB800;
$orange: #FF6000;
$light-blue: #EEF5F6;
$light-grey: #F6F6F6;
$dark-grey: #666;

$breakpoint: 900px;
$nav-height: 10vh;

@mixin transition($transition, $important: null) {
    -moz-transition:    all $transition $important;
    -o-transition:      all $transition $important;
    -webkit-transition: all $transition $important;
    transition:         all $transition $important;
}

@mixin transform($transform, $important: null) {
    -moz-transform:    $transform $important;
    -o-transform:      $transform $important;
    -webkit-transform: $transform $important;
    transform:         $transform $important;
}