<div id="workshops-search-filters">
	<div id="block-filter-section" class="filter-section">
		<p>Block </p>
		<a class="block-tag filter-tag tag">Steel</a>
		<a class="block-tag filter-tag tag unselected">Forge</a>
		<a class="block-tag filter-tag tag unselected">Bridge</a>
	</div>
	{% comment %}
	<!-- <div id="track-filter-section" class="filter-section">
		<h6>Track </h6>
		{% for track in site.data.workshop_tracks.tracks %}
			<a class="track-tag filter-tag tag">{{ track.name }}</a>
		{% endfor %}
	</div>
	<a id="workshops-deselect-all">Deselect All</a> -->
	{% endcomment %}
</div>