<section id="workshops-header" class="header">
	<h3>Workshops</h3>
	<p>
		Workshops are educational sessions, lecture-styled or discussion-based, that are focused on different topics and aspects of AAPI identity, advocacy, and activism. This year, our three blocks are <b>Steel, Forge, and Bridge</b>, taking place during the three different workshop times.
	</p>
	<p>
		Alongside the blocks, which are denoted by time, we are proud to introduce <b>workshop tracks</b>. Tracks are groups of workshops that center around an overarching topic. Attendees who are interested in certain topics, such as mental health issues or pop culture, can use the corresponding tracks to find workshops about those subjects. Alternatively, those who are searching for new perspectives or nuanced views of familiar topics may find tracks such as "Deep Dive" and "The Fundamentals" a good place to start. As a note, tracks are not mandatory and attendees need not stick to one track; rather, they are there to <a>guide</a> you if you are interested in similar topics.
	</p>
</section>