<section id="workshop-list">
	{% for workshop in site.data.workshop_list.workshops %}

	<div class="workshop" data-block="{{ workshop.block }}" data-track="{{ workshop.track }}">
		<div class="workshop-image">
			<img class="circle" src="img/workshop_track_circle.svg" />
			<img class="workshop-photo" src="img/workshops/{{ workshop.name }}.png" />
		</div>
		<div class="workshop-text">
			<small>Block {{ workshop.block }}</small>
			<h5>{{ workshop.name }}</h5>
			<p>{{ workshop.description }}</p>
			<h6 class="tag">{{ workshop.track }}</h6>
			<p>Hosted by <b>{{ workshop.host }}</b> in <b>{{ workshop.location }}</b></p>
		</div>
	</div>	
	{% endfor %}
</section>