---
new_page_extension: md
auto_deploy: false
admin_path: 
webhook_url: 
sections:
- type: document
  path: _data/team_list.yaml
  label: Team List
- type: document
  path: _config.yml
  label: Register Link
- type: document
  path: _data/workshop_list.yaml
  label: Workshops
- type: document
  path: _data/faq.yaml
  label: FAQ
- type: document
  path: _data/speaker_list.yaml
  label: Speakers
- type: document
  path: _data/sponsor_list.yaml
  label: Sponsors
- type: document
  path: _data/event_list.yaml
  label: Schedule
- type: document
  path: _data/hackathon_faq.yaml
  label: Hackathon FAQ
  match: "**/*"
upload_dir: img
public_path: img
front_matter_path: ''
use_front_matter_path: false
file_template: ":filename:"
build:
  preview_env:
  - JEKYLL_ENV=staging
  preview_output_directory: _site
  install_dependencies_command: bundle install --path vendor/bundle
  preview_docker_image: forestryio/ruby:2.6
  mount_path: "/srv"
  working_dir: "/srv"
  instant_preview_command: bundle exec jekyll serve --drafts --unpublished --future
    --port 8080 --host 0.0.0.0 -d _site
