<section id="caucuses-banner" class="full-width-on-mobile header">
	<h2>Caucuses</h2>
	<p>
		Caucuses are affinity spaces typically centered around a certain identity, social, or professional/special interest aspect. Caucuses are usually discussion-based, with an emphasis on organic dialogue. Open door caucuses are free-flowing where conference attendees can come and go as they wish throughout the 1 hour 30 min time period (ex: AAPI Student Leadership, Dance Break). Closed door caucuses are safe spaces for attendees to be more vulnerable where attendees are asked to stay from the beginning to the end in order to not disrupt the space (ex: Mental Health, Adoptees).
	</p>
	<p><b>
		All caucuses will happen 4:00 - 5:30pm at the University of Pittsburgh.
	</b></p>
</section>