<section id="home-banner" class="full-width-on-mobile">
	<div id="home-banner-text">
		<h4>ECAASU 2020:</h4>
		<h2 class="spaced-heading">Building Bridges</h2>
		<h6>Pittsburgh, PA • February 21 - 22, 2020</h6>
		<a class="button" href="{{ site.register_link }}" target="_blank">Register</a>
		<a class="button" href="https://ecaasuinc.wufoo.com/forms/z19scnf51fk7mb7/" target="_blank">Register in a Group</a>
	</div>
	<div id="home-banner-img">
		<img src="img/landing-banner.svg">
	</div>
	<img src="img/curve1.svg" class="curve-vector not-on-mobile">
</section>