<section id="home-call-to-action">
	<img id="home-call-to-action-logo" class="not-on-mobile" src="img/logo.svg" />
	<img id="home-call-to-action-blob" src="img/blob.svg" />
	<div id="home-call-to-action-text">
		<h3>Sounds like a blast, right?</h3>
		<p>Sounds like you should join us then!</p>
		<a href="{{ site.register_link }}" class="button">Register</a>

		<h4>Contact Us</h4>
		<a href="{{ site.facebook_link }}" target="_blank">
			<img src="img/fb.png">
		</a>
		
		
		<a href="mailto:conf-outreach@ecaasu.org" target="_blank">
			<img src="img/mail.png" width="30">
		</a>

	</div>
</section>