<section id="home-conference-intro">
	<div id="home-conference-intro-text">
		<h3>Building Bridges</h3>
		
		<p>
			Affectionately known as “the City of Bridges”, Pittsburgh boasts an expansive network of bridges (446 to be exact) which cross the city’s three rivers. For the upcoming conference, we aim to be inspired from our surroundings and promote what bridges do best: forging connections. 
		</p>
		<p>
			This year’s conference will provide a space for attendees to explore the intersectionality of their identities, forge new relationships with those within the AAPI community, and connect with other marginalized groups through effective allyship and solidarity. Overall, ECAASU 2020 Conference: Building Bridges highlights self-empowerment and growth, as well as community dynamics.
		</p>
	</div>
	<img src="img/curve1.svg" class="curve-vector not-on-mobile">
	<img class="not-on-mobile" id="home-conference-intro-logo" src="img/logo.svg">
</section>