<style>
  #footer {
    width: 100%;
    background: #D8D8D8;
    padding: 1vw 10vw;
    margin-bottom: -20vw;      
  }

  #
  
</style>

  <section id="footer">
    <center>
      ECAASU CONFERENCE 2020 
        <p><a href= "https://www.ecaasu.org/" target=blank><b>www.ecaasu.org</b></a></p>
        <br/>
        <a href="https://www.facebook.com/ECAASU/"><img src="img/icon/fb.png" target="blank"></a>
        <a href="https://twitter.com/ecaasu"><img src="img/icon/twitter.png" target="blank"></a>
        <a href="https://www.instagram.com/ecaasu/"><img src="img/icon/ig.png" target="blank"></a> 
    </center>
    </footer>

