<section id="home-venue" class="full-width-on-mobile">
	<h3>Venue</h3>
	<img src="img/curve3.svg" class="curve-vector not-on-mobile">
	<div class="home-venue-section">
		<div class="home-venue-text">
			<h1>Hosts</h1>
			<p>
				The 2020 Conference is jointly hosted by the campuses of Carnegie Mellon University and the University of Pittsburgh. The opening and closing ceremonies will be held in Downtown Pittsburgh at the Wyndham Grand Pittsburgh Downtown Hotel.
			</p>
		</div>
		<div class="home-venue-image">
			<img src="{{ site.baseurl }}/img/venue.jpg" />
		</div>
	</div>
	<div class="home-venue-section">
		<div class="home-venue-text">
			<h1>Hotel</h1>
			<p>
				As a courtesy for conference attendees coming from out of town, a room block has been reserved for a discounted rate at the <b>Wyndham Grand Pittsburgh Downtown Hotel</b>. Please note that you and any guests who will be staying with you are responsible for paying for the hotel room, which is a separate fee from conference registration.
			</p>

			<p>
				<i>Address</i>: 600 Commonwealth Pl, Pittsburgh, PA 15222
			</p>
			<p>
			    <i>Phone Number</i>: (412) 391-4600
			</p>
			<p>	
				<i>Room Costs</i>: $139/night
			</p>

			<h4>Booking Instructions</h4>
			<p>
				You must use <b><a href="https://book.passkey.com/e/49994762" target="_blank">this link</a></b> to book through the ECAASU room block.
			</p>
		</div>
		<div class="home-venue-image">
			<img src="{{ site.baseurl }}/img/hotel.png" />
		</div>
	</div>
	<p>
		<a href="{{ site.baseurl }}/maps.html" target="_blank">
			Click here
		</a>
		 for detailed maps of workshop venues.
	</p>
</section>