<section id="home-what-is-ecaasu">
	<div id="home-what-is-ecaasu-img">
		<img src="img/home/what-is-ecaasu.svg">
	</div>
	<div id="home-what-is-ecaasu-text" class="full-width-on-mobile">
		<h3>What is ECAASU?</h3>
		
		<p>
			The East Coast Asian American Student Union aims to inspire, educate, and empower those interested in Asian American and Pacific Islander issues. We develop leaders, strengthen student networks, build bridges across communities, encourage civic engagement, and advance social justice. 
		</p>
		<p>
			As a student and volunteer led nonprofit, the annual ECAASU conference is the oldest AAPI conference in the nation. In addition to the annual conference, ECAASU also hosts Campus Summits, facilitates an Affiliate Program and a High School Program, and organizes an annual Youth Leadership Week
		</p>
	</div>
</section>